<!doctype html>
<html>
	<head>
		<title> home </title>
		<meta charset="UTF-8">
	</head>

	<body>
		<ul>
			<li><a href="{{ url_for('edit') }}"> Edit Profile </a></li>
			<li><form action="{{ url_for('logout') }}" method='post'><input type="submit" value="logout"></form></li>
		</ul>
		welcome {{username}}<br>
		<form action="{{ url_for('search') }}" method='post'>
			search for new people to follow:<br>
			<input type="text" placeholder="username" name="username">
			<input type="submit" value="search"><br>
		</form>
		<br>
		<form action="{{ url_for('post') }}" method='post'>
			post something:<br>
			<textarea name="text" cols="30" rows="5"></textarea>
			<input type="submit" value="post"><br>
		</form>
		recent posts:<br>
		<table>
			{% for post in posts %}
			{% if post != '' %}
			<tr><td>{{ post }}</td></tr>
			{% endif %}
			{% endfor %}
		</table>
	</body>
</html>